body {
   font-family: "Roboto", sans-serif;
   color: #333;
}

/* Grid 960px */
.linha,
.header {
   width: 960px;
   margin: 0 auto;
   overflow: auto;
   padding: 5px 0px;
}

.foto {
   width: 164px;
   height: 207px;
   border-radius: 20px;
   border-style: solid;
}

.fundo {
   width: 790px;
   height: 207px;
}

.container-habilidades {
   display: grid;
   grid-template-columns: auto auto auto;
}

div p {
   text-align: justify;
}
